.right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.row {
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .drawer {
    display: none;
  }
}

.noShadow {
  box-shadow: none !important;
}

.keywords {
  display: flex;
  justify-content: flex-end;
}

.breadcrumb {
  cursor: pointer;
}

.twoCol {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
